---
import type { PracticeSchedule } from '@data/mock';

type Props = {
  schedules: PracticeSchedule[];
};

const { schedules } = Astro.props;
---

<div class="schedule-list">
  {
    schedules.map((schedule) => (
      <article class="schedule-row">
        <div class="schedule-content schedule-date" set:html={schedule.dateText || '<p>日程調整中</p>'} />
        <div class="schedule-content schedule-detail" set:html={schedule.areaText || '<p>詳細は後日公開します。</p>'} />
      </article>
    ))
  }
</div>
